//	<codex>
//	<abstract>This is the base .xcconfig file for the CoreMediaIO Sample.  Settings common to all configurations can be specified here.</abstract>
//	</codex>

XCCONFIG_CMIO_SAMPLE_COMMON = INCLUDED

PROJROOT = ../..

// If the project wants to deposit build results in different locations for different versions of the OS, the $(CONFIGURATIONPREFIX) can be set in the Sample.xcodeproj using a conditional
// build setting.
CONFIGURATIONPREFIX = 

SYMROOT = $(PROJROOT)/BuildResults/$(CMIOROOTNAME)
DSTROOT = $(SYMROOT)/$(CONFIGURATIONPREFIX)$(CONFIGURATION)/root
CONFIGURATION_BUILD_DIR = $(SYMROOT)/$(CONFIGURATIONPREFIX)$(CONFIGURATION)/symbolicroot

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
DEPLOYMENT_LOCATION = YES

CMIO_SAMPLE_OTHER_CFLAGS = -fconstant-cfstrings -fstack-protector -D_FORTIFY_SOURCE=2
OTHER_CFLAGS = $(CMIO_SAMPLE_OTHER_CFLAGS)

CMIO_SAMPLE_OTHER_CPLUSPLUSFLAGS = -Wreorder $(OTHER_CFLAGS)
OTHER_CPLUSPLUSFLAGS = $(CMIO_SAMPLE_OTHER_CPLUSPLUSFLAGS)

SDKROOT = 

GCC_MODEL_TUNING = G5
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES

DEAD_CODE_STRIPPING = YES
ALWAYS_SEARCH_USER_PATHS = NO

RC_ProjectSourceVersion = EngineeringBuild-$(USER)
